*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    scroll-behavior: smooth;
} 
section{
    padding: 100px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background: url('banner.jpg');
    /* background-color: rgb(0, 0, 0); */
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2{
    font-size: 3em;
    color: #fff;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.6em;
    font-weight: 500; 
}
.banner h3{
    font-size: 1.5em; 
    color: #fff;
    font-weight: 500;
}
.btn{
    position: relative;
    background: linear-gradient(to right,rgb(43, 74, 245), rgb(39, 41, 39));
    transition: 0.6s ;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
    transition: 0.6s ; 

}
.btn:hover{
    background: linear-gradient(to right,rgb(39, 41, 39),rgb(100, 121, 238));
    transition: 0.6s ; 
}
header.sticky{
    background-color: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.863);
}
header.sticky .logo{
    color: #111;
}
header{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 40px 100px;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}
header .logo{
    color: #fff;
    text-transform: uppercase;
    font-weight: 750;
    text-decoration: none;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
} 
header.sticky ul li a{
    color: #111;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;

}
.contentbx{
    padding-right: 25px;
}
.contentbx h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.w50{
    min-width: 50%;

}
.img{
    max-width: 100%;
    margin: auto;
}
img{
    /* min-width: 100%;  */
}
.services{
    background-color: #111;
}
.heading.white{
    color: #fff;

}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicebx{
    padding: 40px 20px;
    background: #222;
    color: rgb(221, 218, 218);
    max-width: 340px;
    margin: 20px;
    text-align: center;
    position: relative;
    transition: 0.5s;
}
.services .content .servicebx:hover{
    background-color:  rgb(100, 121, 238);
    font-size: 17px;
    padding: 0;
    font-weight: bold;
    transition: 0.4s; 
}
.services .content .servicebx img{
     width: 80px;
    filter: invert(1);
    transition: 0.3s;
}
.services .content .servicebx:hover img{
    filter: none;
    width: 90px;
    transition: 0.3s;
}
.services .content .servicebx h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.work{
    /* padding: 30px 250px; */
}
.work img{
    width: 200px;
    /* max-width: 100%;  */
}
.workbox{
    /* width: 100%; */

}
.work .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.work .content .workbox{
    width: 50%;
    padding: 20px;
}
.testimonial{
    background: #d4d4d4;
}
.testimonial .content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.testimonial .content .testimonialbx{
    width: calc(50% - 10px);
    padding: 60px 40px;
    margin: 10px;
    background: #2196f3;
}
.testimonial .content .testimonialbx p{
    font-style: italic;
    color: #fff;
    font-size: 15px;
}
.testimonial .content .testimonialbx h3{
    margin-top: 15px;
    font-weight: 800;
    color: #fff;
    text-align: end; 
    font-size: 19px;
}
.testimonial .content .testimonialbx h3 span{
    font-weight: 800;
    color: rgb(216, 216, 216);
    font-size: 15px;
}
.contact{
    background-color: rgb(0, 0, 0);
    /* color: #fff; */
    padding-top: 35px;

}
.formbx{
    min-width: 60%;

}
.formbx form{
    display: flex;
    flex-direction: column;
}
.formbx form h3,.contactinfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 11px;
}
.formbx form input,
.formbx form textarea{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    background: #222;
    border: none;
    outline: none;
    color: #fff;
    resize: none;
}
.formbx form input::placeholder,
.formbx form textarea::placeholder{
    color: #999; 
    font-style: italic;
}
.formbx form input[type="submit"]{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    padding: 10px;
}
.contactinfo{
    min-width: 40%;
}
.contactinfobx{
    position: relative;
}
.contactinfobx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactinfobx .box .icon img{
    width: 25px;
}
.contactinfobx .box .icon{
    min-width: 40px;
    /* padding-top: 4px; */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 50px;
    filter: invert(1); 
}
.contactinfobx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
}
.contactinfobx .box .text h3{
    font-weight: 500;
    color: #2196f3;
}
.copy{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (max-width:805px){
    header,
    header.sticky{
        padding: 20px 50px;
        padding-bottom: 20px;
    } 
    .menu{
        position: fixed;
        top: 60px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: #fff; 
        /* color: rgb(0, 0, 0); */
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.151);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        color: #111;
        font-weight: bold;
        font-size: 24px;
        margin: 10px;
    }
    .toggle{
        width: 35px;
        height: 35px;
        background: url(menu_50px.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
        filter: invert(1);
    }
    .toggle.active{
        background: url(delete_48px.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        filter: invert(1);
    }
    header.sticky .toggle{
        filter: none 
    }
    section{
        padding: 100px 50px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em; 
        transition: 0.7s;
    }
    .banner h2 span{
        font-size: 1.5em; 
        transition: 0.5s;

    }
    .banner h3{
        font-size: 1em; 
        transition: 0.7s;

    }
}